/* Chart layout */

.chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.chart-layout__item {
    align-self: flex-end;
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #4e73df;
    animation: growth ease-in 0.5s;
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}


/* bieu do tron */

.pie-chart {
    background: radial-gradient(circle closest-side, transparent 51%, white 0), conic-gradient( #4e79a7 0, #4e79a7 18%, #f28e2c 0, #f28e2c 61%, #e15759 0, #e15759 77%, #76b7b2 0, #76b7b2 87%, #59a14f 0, #59a14f 93%, #edc949 0, #edc949 100%);
    position: relative;
    width: 500px;
    min-height: 350px;
    margin: 0;
    outline: 1px solid #ccc;
}

.pie-chart h2 {
    /* position: absolute; */
    margin: 1rem;
}

.pie-chart cite {
    /* position: absolute; */
    bottom: 0;
    font-size: 80%;
    padding: 1rem;
    color: gray;
}

.pie-chart figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
}

.pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}